.container {
  /* min-height:650px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  width: 70%;
}
.error {
  font-size: 0.8rem;
  color: #bb0000;
}
 
.loginForm {    
  display: flex;
  flex-direction: column;
}
 
.loginFormItem {
    align-items: center;
    justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}