/* .container {
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
   
  .logoutPage {
    /* min-height: 650px; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .logout {    
    display: flex;
    flex-direction: column;
  }
  .formContainer {
    width: 70%;
  }