.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cardTown {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 7px;
  padding: 15px;
  width: 50%;
  height: auto;
  align-items: center;
  background-color: rgb(181, 175, 236);
}
.MeteoLoc_div {
  align-items: center;
  width: 95%;
  display: flex;
  flex-direction: column;
}


.Search_div {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  height: auto;
}

.cardd {
  align-items: center;
  width: 400px;
 
  height: 120px;
  padding: 10px;
  background-color: rgb(81, 149, 231);
  color: antiquewhite;
  border-radius: 8px;
  border: 2px solid rgb(23, 25, 175);
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
.card link {
  text-decoration: none;
  text-decoration-line: none;
}

#weatherIcon {
  width: 45px;
  height: 45px;
}

.imputSearch {
  width: 180px;
  height: 40px;
  margin-top: 25px;
  border-radius: 5px;
  /* Sombra exterior que se desplaza hacia la zona inferior-derecha */
  box-shadow: 1px 1px px rgb(219, 233, 241);

  /* Sombra interior que se desplaza hacia la zona inferior-derecha */
  box-shadow: -1px -1px 1px rgb(166, 245, 245) inset;
}

h4 {
  font-size: 25px;
  color: rgb(33, 33, 39);
}
h3 {
  font-size: 20px;
  color: rgb(71, 71, 85);
}
.detail{
  align-items: center;
  display: flex;
  flex-direction: row;
}