

.App{
 
  margin: 0 auto;
  
  text-align: center;
  min-height: 100vh;
  width: 100%;
  height: auto;
  background-color: rgb(28, 189, 230);
}
.headerApp{
  margin:0 auto;
  min-width: 360px;
  max-width: 700px;
  background-color: rgb(32, 160, 192);
  
  height: auto;
  border-radius: 5px;
  
  
}
.button{
  margin: 10px;
}
.imagen{
  margin: 0;
  display:inline-block;
  height: 50px;
  float:none;
}
.footerApp{

  margin:0 auto;
  margin-top: 20px;
  text-align: center;
  

  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 360px;
  max-width: 700px;
  height: auto;
  border-radius: 5px;
  background-color: rgb(192, 216, 223);
 
  padding: 15px;
}